$mobile: 480px;

@mixin mobile {
  @media screen and (min-width: #{$mobile}){
    @content;
  }
}

.app {
  width: 100%;
  min-height: 100vh;
  background: none;
  background-size: cover;
  padding: 5% 6%;
  box-sizing: border-box;
  opacity: 0;

  @include mobile {
    background: transparent url('./assets/images/background.jpg') no-repeat center bottom;

  }
}

.appSocial {
  position: absolute;
  left: -3px;
  top: 70px;
  width: 28px;
  padding: 5% 6%;
  transform: translateY(60px);
  opacity: 0;

  @include mobile {
    left: auto;
    right: 0;
  }
}

.appDescription {
  transform: translateY(60px);
  opacity: 0;
}

.app.ready {
  transition: opacity 1s cubic-bezier(0, 0.7, 0.3, 1);
  opacity: 1;

  .appSocial {
    transition: all 0.7s cubic-bezier(0, 0.7, 0.3, 1) 0.5s;
    transform: translateY(0);
    opacity: 1;
  }

  .appDescription {
    transition: all 0.7s cubic-bezier(0, 0.7, 0.3, 1) 0.5s;
    transform: translateY(0);
    opacity: 1;
  }
}

