.app {
  width: 100%;
  min-height: 100vh;
  background: none;
  background-size: cover;
  padding: 5% 6%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
}

@media screen and (min-width: 480px) {
  .app {
    background: transparent url("./assets/images/background.jpg") center bottom;
  }
}

.appSocial {
  position: absolute;
  left: -3px;
  top: 70px;
  width: 28px;
  padding: 5% 6%;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  opacity: 0;
}

@media screen and (min-width: 480px) {
  .appSocial {
    left: auto;
    right: 0;
  }
}

.appDescription {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  opacity: 0;
}

.app.ready {
  -webkit-transition: opacity 1s cubic-bezier(0, 0.7, 0.3, 1);
  transition: opacity 1s cubic-bezier(0, 0.7, 0.3, 1);
  opacity: 1;
}

.app.ready .appSocial {
  -webkit-transition: all 0.7s cubic-bezier(0, 0.7, 0.3, 1) 0.5s;
  transition: all 0.7s cubic-bezier(0, 0.7, 0.3, 1) 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.app.ready .appDescription {
  -webkit-transition: all 0.7s cubic-bezier(0, 0.7, 0.3, 1) 0.5s;
  transition: all 0.7s cubic-bezier(0, 0.7, 0.3, 1) 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
